html, body{
	min-height: 1000px;
	background: #F3F3F3 !important;
}
.full-height{
	height:100%;
	min-height: 600px;
}
.full-width{
	width: 100%;
}
.current-menu-item{
	border-bottom: 1px solid #2e81ab;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 28px;
}
h3, .header-caption{
	font-size: 22px;
}
.slim-margins{
	margin:5px 0;
}
h6{
	font-size: 16px;
}
.table-display{
	
}
.aside-right-fixed{
	position:relative;
	right: 0;
}
.is-sticky .aside-right-fixed{
	padding-right: 1px;
    padding-left: 23px;
}

.header-caption .caption-body{
	font-size: 16px;
	display: block;
}
#page-content{
	margin-top:125px;
	height:100%;
}
.parallax-title{
	position: absolute;
	width: 100%;
	left:0;
	top:50px;
	height:200px;
	color:white;
	z-index: 0;
}
.aside{

height:100%;
margin-top:100px;
}
.aside-dark{
	background: #212121;
	width:105%;
	position: relative;
	z-index: 6;
}
.box-shadow{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.box-shadow-2{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.right-content{
	background: #FAFAFA;
	height:100%;
	margin-top: 53px;
}
.raise{
	z-index:1;
	height:112% !important;
}
.vertical-align{
	height:350px;
	line-height: 350px;
}
.vertical-align .header-caption{
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}
.btn-flat{
	border-radius: 0;
	display: block;
}
.btn-full-width{
	width:100%;
}
.card{
	padding:20px;
	margin:10px 10px 10px 0;
}
.card-silver{
	background: rgb(217,217,217);
}
.card-red-stripe{
	border-top:3px solid red;
}
.card-blue-stripe{
	border-top:3px solid blue;
}
.card-title{
	font-size:64px;
	padding-top:10px;
	line-height: 0.3
}
.card small{
	font-size: 10px;
	color:black;
}
#page-content a:hover{
	color:silver;
}
.card .table-striped tr{
	background: white;
}
.mb20{
	margin-bottom: 20px;
}
#districtResults select{
	font-size: 12px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.text-small *{
	font-size: 12px;
}
#accordion .panel-body{
	padding:0;
}
.text-black{
	color:black !important;
}
.table.nolines td{
border:none;
}
/* RESPONSIVE **/

/* LARGE DISPLAYS */

@media only screen and (min-width: 500px){
	.desktop-padding{
		padding-right: 50px;
	}
}

@media only screen and (min-height:900px){
	html body{
		min-height: 1100px !important;
	}
	body .full-height{
		min-height: 800px !important;
	}
	
}

/* mobile devices */
@media only screen and (max-width: 500px){
	.parallax-title{
		display: none;
	}
	#page-content{
		margin-top:55px;
	}
	#right-aside-sticky-wrapper{
		min-height: 250px;
	}
	.navbar .container>.navbar-collapse, .navbar .container{
		padding:0;
		margin:0;
		
	}
	#menu-artba-menu-1 a{
		padding-left:15px;
	}
	.navbar-header{
		padding:0 20px;
	}
	ul.pagination{
		width:100%;

	}
	ul.pagination .paginate_button a{
		color:black;
	}
	.paginate_button a,.pagination>.active>a {
		background-color: inherit;
    	border-color: inherit;
	}
	.col-md-8.raise, .col-md-9.raise{
		margin-top: -1px;
    	padding-top: 1px;
	}
	h1.page-title{
		font-size: 28px;
	}
	.row.mb-10, .row.squeeze{
		margin:0;
		padding: 0 10px;
	}
	ul.button-list{
		margin:0;
	}
}