.fm-map-container {
	z-index: 0;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.fm-tooltip {
	display: none;
	position: absolute;
	z-index: 2;
	min-width: 200px;
}
.fm-tooltip-frame {
	background-color: #fff;
	border: 2px solid #bbb;
	border-radius: 10px;
	padding: 5px;
	opacity: .99;
	/*max-width: 300px;*/
	border-collapse: separate;	
	margin-bottom: 0 !important;
	line-height: 1.4;
	vertical-align: top;
}
.fm-tooltip-frame td {
	background-color:inherit;
	border: none;
	padding: 5px;
	vertical-align: top;
	margin: 0;
}
.fm-tooltip-comment {
	font-size: 11px;
	font-family: arial;
	color: #000000;
}
.fm-tooltip-name {
	color: #000000;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size: 20px;
	font-weight:bold;
	padding: 5px;
	font-family: arial;
	line-height: 1;
}

.fm-scale {
	float: left;
	position: absolute;
	left: 0px;
	bottom: -40px;
	z-index: 1;
	margin: 10px
}
.fm-scale div {
	float: left;
}
.fm-scale-display {
	clear: both;
	position: relative;
	left: 0px;
	z-index: 10;
	width: 100%;
	height: 1px;
	bottom: 0px;
	margin-bottom: 5px;
	background-color: #e8e8e8;
}
.fm-scale-display div {
	background-color: #237cbd;
	height: 1px;
	-webkit-transition: width ease-in-out .2s;
	transition: width ease-in-out .2s;
}

.fm-scale-buttons {
	clear: both;
}

.fm-scale a {
	display: block;
	float: left;
	font-size: 31px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	color: #333;
	width: 41px;
	height: 37px;
	padding-top: 1px;
	border: 1px solid #e8e8e8;
	border-bottom: 1px solid #bbb;
	text-decoration: none;
	margin-right: 3px;
	border-radius: 2px;
	background: #fff;
}
.fm-scale a:hover {
	color: #186ba3;
}
.fm-scale a.fm-inactive {
	cursor: default;
	color: #cdcdcd;
}
.fm-x-debug {
    position: absolute;
    z-index: 2;
    min-width: 200px;
    border-radius: 5px;
    background: white;
}
.fm-tooltip-x {
    color: #444;
    font: 12px/100% arial, sans-serif;
    position: relative;
    float: right;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
    z-index: 5;
    display: none;
    cursor: pointer;
}
.fm-tooltip-x img {
    width: 12px;
}
.fm-tooltip-x.fm-frozen-x {
    display: block;
}
.fm-tooltip-x.fm-mobile-x {
    display: block;
}
